<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMarksManageService" />
                <binding name="BasicHttpBinding_IMarksManageService1" />
                <binding name="BasicHttpBinding_IMarksManageService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/MarksManageService/MarksManageSerivce"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarksManageService"
                contract="ServiceReference1.IMarksManageService" name="BasicHttpBinding_IMarksManageService" />
            <endpoint address="http://localhost:8000/MarksManageService/MarksManageSerivce"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarksManageService1"
                contract="ServiceReference2.IMarksManageService" name="BasicHttpBinding_IMarksManageService1" />
            <endpoint address="http://localhost:51199/MarksManageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarksManageService2"
                contract="ServiceReference3.IMarksManageService" name="BasicHttpBinding_IMarksManageService2" />
        </client>
    </system.serviceModel>
</configuration>